# Блокируем все фотографии в базе данных (защита персональных данных)
dataset/*.jpg
dataset/*.jpeg
dataset/*.png

# Блокируем тяжелые ONNX модели (они должны качаться по ссылкам)
models/*.onnx

# Блокируем кэш и окружение менеджера пакетов uv / python
.venv/
__pycache__/
*.pyc

# Временные файлы вывода тестов
face_result.jpg
live_stream_output.jpg
